body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
h1{
    font-size:50px;
    
}
.sakib{ color:orange;}
section{
    display:flex;
    
}
.half{
    width: 50%;
    padding-left:10%;

}
.half img{width:80%;

padding-left: 10%;}
.sadia{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

    

